body {
	display: flex;
	flex-direction: column;
	font-family: Arial;
}

main {
	margin: auto;
	border: 5px solid blueviolet;
}

.col {
	display: flex;
}

.row {
	display: flex;
	width: 7vw;
	height: 7vw;
	text-align: center;
	font-size: 9vw;
	align-content: center;
	justify-content: center;
	border: 5px solid blueviolet;
	background-color: violet;
	svg {
		display: block;
		margin: auto;
	}
}

article {
	margin: 2vh auto;
}

.misc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.scores {
	display: flex;
	justify-content: center;
	gap: 3vw;
	div {
		justify-items: center;
		text-align: center;
	}
	img {
		width: 7vw;
	}
}

button {
	display: inline-block;
	padding: 2vh 5vw;
	font-size: 4vw;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #04aa6d;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

button:hover {
	background-color: #3e8e41;
}

button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.row svg {
	width: 7vw;
	height: 7vw;
}

@media screen and (max-width: 767px) {
	main {
		margin: 5vh auto;
	}
	.row {
		width: 20vw;
		height: 20vw;
	}

	.scores {
		p {
			font-size: 26px;
		}
		img {
			height: 20vw;
			width: 20vw;
		}
	}

	.row svg {
		width: 18vw;
		height: 18vw;
	}

	button {
		width: 70vw;
		height: 9vh;
		font-size: 8vw;
	}
}
